body {
  font-family: Arial;
  color: #333;
  font-size: 12px;
  line-height: 20px;
}
h1 {
  margin: 10px 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin: 10px 0px 1px;
  font-family: Montserrat, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 400;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 26px;
  font-family:'Varela Round', sans-serif;
  color: #848999;
  font-size: 14px;
}

.flush{margin: 0px !important;}
.float--left{float:left;}
.float--right{float:right;}

.text--center{text-align: center;}
.text--left{text-align: left;}
.text--right{text-align: right;}

.box--post{
  padding: 20px;
  width: 100%;
  height: 100%;
  margin: 0px 5px;
  text-align: left;
  min-height: 210px;
}

.box--post p{
  color: #efefef;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 60px; /* Fallback for non-webkit */
  margin: 0 auto;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 30px;
}
.box--post h3{
  color: white;
  margin-bottom: 20px;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box--post a{color: white; text-decoration: none;}
.box--post a:hover{color: #ddd; text-decoration: none;}

.date--post{float: right; font-style: italic; color: white;}

.box--post__blue{background: #4066B7;}
.box--post__brick{background: #EC5027;}
.box--post__grass{background: #17A086;}

.image--post{
  display: block;
  margin: 0 auto;
}

.box--date{
  margin-bottom: 20px;
  display: block;
  text-align: right;
}

.author--post{
  display: block;
  text-align: right;
}

.single--post{
  margin-top: 20px;
}
.single--post h3{
  color: black;
}
.single--post p{
  margin-bottom: 20px;
}
.list--steps{
  color: #848999;
  padding-bottom: 20px;
  list-style-type: none;
}

pre, code{
  direction: ltr;
  text-align: left;
}
pre {border: solid 1px #4066B7;
  font-size: 1.3 em; 
  color: #4066B7; 
  margin: 10px; 
  padding:10px; 
  background: #fff}
code {font-size:1.2em; 
  color: #4066B7}

.list--steps li:before {
    content: "• ";
    color: #848999; /* or whatever color you prefer */
}

.button {
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
  padding: 14px 29px;
  border-radius: 5px;
  background-color: #6d7280;
  -webkit-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover {
  background-color: #848a9c;
}
.button.hire {
  padding: 22px 72px;
  background-color: white;
  color: #333;
}
.button.hire:hover {
  background-color: rgba(255, 255, 255, 0.90);
}
.button.contact {
  padding: 22px 72px;
  background-color: #d34a44;
}
.button.contact:hover {
  background-color: rgba(211, 74, 68, 0.70);
}
.section {
  padding-top: 65px;
  padding-bottom: 65px;
}
.section.hero {
  display: block;
  margin: auto;
  padding-top: 142px;
  padding-bottom: 0px;
  background-color: #d34a44;
  background-image: url('../images/background.jpg');
  background-position: 50% 0px;
  background-size: auto 936px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  text-align: center;
}
.section.hero.blog{
  height: 380px;
}
.section.grey {
  background-color: #eff1f4;
  text-align: center;
}
.section.centered {
  text-align: center;
}
.section.footer {
  background-color: #363b48;
  text-align: left;
}
.company {
  margin-top: 11px;
  float: left;
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 28px;
  font-weight: 400;
}
.nav-link {
  margin-right: 11px;
  margin-left: 11px;
  -webkit-transition: color 300ms ease, background-color 300ms ease;
  -o-transition: color 300ms ease, background-color 300ms ease;
  transition: color 300ms ease, background-color 300ms ease;
  font-family: Montserrat, sans-serif;
  color: rgba(255, 255, 255, 0.81);
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-link:hover {
  color: white;
}
.nav-column {
  padding-top: 10px;
  text-align: right;
}
.hero-heading {
  margin-top: 32px;
  margin-bottom: 32px;
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 38px;
  font-weight: 400;
}
.section-title {
  font-family: Montserrat, sans-serif;
  font-size: 31px;
  font-weight: 400;
  text-align: center;
}
.section-subtitle {
  margin-bottom: 43px;
  color: #848999;
  text-align: center;
}
.by-section {
  text-align: left;
}
.footer-text {
  display: block;
  margin-top: 11px;
  margin-right: auto;
  margin-left: auto;
  font-family: Montserrat, sans-serif;
  color: #7d8391;
  font-size: 15px;
  text-align: center;
}
.social-icon {
  width: 40px;
  height: 40px;
  margin-right: 7px;
  margin-left: 7px;
  padding-top: 9px;
  border-radius: 40px;
  background-color: #596073;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  text-align: center;
}
.social-icon:hover {
  background-color: #7f89a3;
}
.nav-bar {
  margin-bottom: 56px;
  padding-top: 21px;
  padding-bottom: 21px;
  background-color: transparent;
}
.button-group {
  margin-top: 25px;
  margin-bottom: 48px;
}
.services {
  padding-right: 11px;
  padding-left: 11px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
.services.h2 {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 20px;
}
.hello {
  height: 600px;
  margin-top: auto;
  margin-bottom: auto;
}
.section_item {
  margin-bottom: 25px;
}
@media (max-width: 991px) {
  .nav-link {
    margin-right: 7px;
    margin-left: 7px;
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .button {
    margin-bottom: 10px;
  }
  .section {
    padding: 32px 15px;
  }
  .section.hero {
    padding-top: 42px;
  }
  .section.footer {
    text-align: center;
  }
  .company {
    display: inline-block;
    float: none;
  }
  .nav-column {
    padding-top: 19px;
    text-align: center;
  }
  .hero-heading {
    font-size: 28px;
    line-height: 34px;
  }
  .footer-text {
    margin-bottom: 22px;
  }
  .nav-bar {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .brand-column {
    text-align: center;
  }
}
@media (max-width: 479px) {
  .button {
    display: block;
  }
  .section {
    padding-right: 11px;
  }
  .section.hero {
    padding-right: 15px;
    padding-left: 15px;
  }
  .nav-link {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}